POSTGRES_DB=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=change-me

ODOO_DB_HOST=db
ODOO_DB_PORT=5432
ODOO_DB_USER=admin
ODOO_DB_PASSWORD=change-me
ODOO_DB_NAME=solution_lab_odoo19
ODOO_MASTER_PASSWORD=change-me
ODOO_COMPANY_NAME=Solution Lab
